body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
}

header {
    background-color: #ff5722;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p2/538195-incendios-florestais-queimando-arvore-em-chamas-de-fogo-ilustracaoial-vetor.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 65px 30px; 
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

nav ul {
    font-size: 1.2em; 
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 30px; 
}

nav ul li {
    margin: 0 20px; 
}

nav ul li a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3); 
    color: #000000; 
}

main {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    color: #ffffff;
    margin: 10px 0;
    font-size: 4em;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 2px #000000;
    transition: transform 0.3s ease;
}

h1:hover {
    transform: scale(1.1);
}

form {
    width: 100%; 
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 20px; 
    margin-bottom: 10px; 
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff; 
    color: #000000; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: #ff5722; 
}

button {
    width: 106%; 
    padding: 15px;
    background-color: #ff5722; 
    color: white;
    border: 1px solid #ffffff; 
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 10px; 
}

button:hover {
    background-color: #e64a19; 
}

h2 {
    color: #fffdfd;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2.8em;
    margin: 30px 0;
    font-style: italic;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    margin: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #e6dcdc;
    line-height: 1.6;
    margin: 10px 0; 
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3e3c3c;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
}

footer p {
    color: #ffffff;
    text-align: center;
}